{%  extends 'accounts/main.html' %}

{% block content %}

	

		<br>
		

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h3>Disciplinary Measures</h3>

					<p>Disciplinary actions are corrective and formative measures which are given to students who fail to comply with the policies and rules of the school. The primary objective of these disciplinary actions is to guide and accompany erring students to the right behavior which also takes into consideration the guidelines stated above (proper student decorum).
					<br>
					Disciplinary actions range from verbal warning to exclusion depending on the gravity of the offense and its circumstances.
					<br>
					The Discipline Officer is the one who directly monitors students' conduct. All offenses incurred by the students shall be immediately reported to the Discipline Officers, who will do the necessary verification and processing of cases.
					<br>
					Prompt reporting of incident of misbehavior of an RC student is encouraged. This covers incidents from the first day of classes of the current year until the final report card distribution of the following year. This is done in order to maximize the intervention, reformation and/or imposition of appropriate disciplinary action/s of the school.</p>	
				</div>

				<div class="card card-body">
					<h4>Minor Offenses</h4>
					<table class="table">
						<tr>
							<th>Frequency of Minor Offenses</th>
							<th>Corresponding Disciplinary Action</th>
						</tr>

						<tr>
							<td>1st Minor Offense</td>
							<td>Verbal warning</td>
						</tr>

						<tr>
							<td>2nd Minor Offense</td>
							<td>Written warning</td>
						</tr>

						<tr>
							<td>3rd Minor Offense</td>
							<td>Community Service</td>
						</tr>

						<tr>
							<td>4th Minor Offense <br>(Constitutes to a Major Offense)</td>
							<td>Working Suspension</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h4>Major Offenses</h4>

					<ul>
						<li> <span style="font-weight: bold;">2.1 Working Suspension</span> - This means that a suspended student will report to work in school offices or canteen for one day or more depending on the gravity/nature of the offense. Corresponding conduct grade applies <span style="font-weight: bold;">(70% -79%)</span>.</li>
						<li> <span style="font-weight: bold;">2.2 Preventive Suspension</span> - A student under investigation of a serious or grave case may be preventively suspended from entering the school premises especially if the evidence of guilt is strong and the Office for Student Discipline and the Principal is morally convinced that the continued stay of the student during the period of investigation constitutes a distraction to the normal operations of the school or poses a risk or danger to the life of persons and property in the school. This may also be imposed by the school to protect the student with pending case from acts of vindictiveness and to maintain an atmosphere in the school that is conducive to learning.</li>
						<li> <span style="font-weight: bold;">2.3 Exclusion</span> - The school reserves the right exclude/dismiss, or drop from school during the year, any student who fails to give positive evidence of earnestness of purpose and active cooperation in all requirements of conduct or whose conduct makes the student a liability and nuisance to the school.</li>
					</ul>
				</div>
			</div>
		</div>

{% endblock content %}